extends layout

block content
	div.container
		div.row.b
			div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.main-content.bg-color1
				h2 Tạo mới món ăn
				hr
				if result !== undefined
					div.alert.alert-dismissable.alert-info
						a(data-dismiss="alert", aria-label="close").close &times;
						strong= result
				form(action='/foods/create', method='post',
				enctype="multipart/form-data", ref='createFoodForm').form-horizontal
					div.form-group
						label(for='id').control-label.col-sm-4 Nhập _id cho món ăn:
						div.col-sm-8
							input(type='text', id='id', name='_id', required='required').form-control
					div.form-group
						label(for='name').control-label.col-sm-4 Nhập tên cho món ăn:
						div.col-sm-8
							input(type='text', id='name', name='name', required='required').form-control
					div.form-group
						label(for='type').control-label.col-sm-4 Loại:
						div.col-sm-8
							select(name='type', id='type').form-control
								option(value='man') Món mặn
								option(value='chay') Món chay
								option(value='both') Chay mặn đều dùng được
					div.form-group
						label.control-label.col-sm-4 Thành phần:
						div.col-sm-8
							label.checkbox-inline
								input(type='checkbox', name='ingredient', value='thit')
								span Thịt
							label.checkbox-inline
								input(type='checkbox', name='ingredient', value='ca')
								span Cá
							label.checkbox-inline
								input(type='checkbox', name='ingredient', value='rau')
								span Rau, củ
					div.form-group
						label(for='format').control-label.col-sm-4 Hình thù:
						div.col-sm-8
							select(name='format', id='format').form-control
								option(value='canh') Canh
								option(value='khong phai canh') Không phải canh
					div.form-group
						label(for='picture').control-label.col-sm-4 Chọn hình ảnh cho món ăn:
						div.col-sm-8
							input(type="file", id='picture', name='pictureToUpload', required='required', ).form-control
					div.form-group
						label(for='guide').control-label.col-sm-4 Tải lên file hướng dẫn:
						div.col-sm-8
							input(type="file", id='guide', name='guideToUpload', required='required').form-control
					div.form-group
						div.col-sm-8.col-sm-offset-4
							div.btn-group
								input(type='submit' value='Tạo mới').btn.btn-success
								input(type='reset' value='Reset').btn.btn-warning
			div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
				a(href="/") << Trở về trang chủ